<article>
  <h2>Add a Category</h2>
  <h4><small style="margin-left: 20px">For Example: Math</small></h4>
  <form class="form-horizontal" role="form" method="POST" action="/admin/category-add">
    <div class="form-group">
      <label class="col-sm-2 control-label" style="font-size: 120%">Category Name</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="name" placeholder="Science"></input>
      </div>
    </div>
    <button class="btn btn-success btn-md pull-right" type="submit">Add Category</button>
  </form>
  <br>
  <h2>Categories</h2>
  <h4><small style="margin-left: 20px; color: rgb(255, 92, 51)">Beware: Deleting a category deletes all classes in it</small></h4>
     
  <% categories.each do |category| %>
  <form class="form-horizontal" method="POST" action="/admin/category-delete">
  <div class="panel panel-info">
    <div class="panel-heading clearfix">
      <!--<input style="border:0" type="text" name="category_id" readOnly hidden value="<%=category.id%>">-->
      <button class="btn btn-danger btn-sm pull-right" type="submit">Delete this Category</button>
      <h4 class="pull-left"><%= category.name %></h4>
    </div>
    <div class="panel-body">
      <% category.subjects.each do |subject| %>
      <h4>Class: <small style="color: #000"><strong><%= subject.name %></strong></small></h4>
        <% subject.lessons.each do |lesson| %>
        <span><strong>Block:</strong> <%= lesson.block %> ----- <strong>Teacher:</strong> <%= Teacher.get(lesson.teacher_id).name %></span><br>
        <% end %>
      <% end %>
    </div>
  </div>  
  </form>
  <% end %>
</article>

