<article id="a-class-modify">
  <form class="text-form" method="POST" action="/admin/class-add">

    <select name="subject_id">
      <% Subject.each do |subject| %>
        <option value= <%= subject.id %> > <%= subject.name %></option>
      <% end %>
    </select>
    
    <input type="number" name="block" placeholder="Block"></input>
    <input type="number" name="space" placeholder="Space"></input>
    
    <select name="teacher_id">
      <% Teacher.each do |teacher| %>
        <option value= <%= teacher.id %> > <%= teacher.name %> </option>
      <% end %>
    </select>
    
    <button type="submit">Add Class</button>
  </form>
  
  <% classes.each do |lesson| %>
    <li><%=lesson.subject.name%></li>
    <form method="POST" action="/admin/class-delete/<%= lesson.id %>">
      <button type ="submit">Delete Class</button>
    </form>
  <% end %>
</article>