<article>
    <h2>Add a Class Name</h2>
    <h4><small style="margin-left: 20px">Example: AP Human Geography or AP Physics 1A</small></h4>
    <form class="form-horizontal" role="form" method="POST" action="/admin/subject-add">
      <div class="form-group">
        <label style="font-size: 120%" class="col-sm-2 control-label" for="category-list">Class's Category:</label>
        <div class="col-sm-10">
          <select class="form-control" name="category_id" id="category-list">
            <option disabled selected="true">Select a Category</option>
            <% Category.each do |category| %>
            <option value=<%=category.id %>><%= category.name %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label style="font-size:120%" class="col-sm-2 control-label" for="subject-name">Name of Class:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="name" id="subject-name" placeholder="AP Psychology"></input>
        </div>
      </div>
      <button class="btn btn-success btn-md pull-right" type="submit">Add Class Name</button>
    </form>
    <br>
    <h2>Subjects</h2>
    <h4><small style="margin-left: 20px; color: rgb(255, 92, 51)">Beware: Deleting a Class Name deletes all classes under it</small></h4>
    
    <% subjects.each do |subject| %>
      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <form class="form-horizontal" method="POST" action="/admin/subject-delete">
            <input style="border:0" type="text" name="subject_id" readOnly hidden value="<%=subject.id%>">
            <button class="btn btn-danger btn-sm pull-right" type="submit">Delete this Class Name</button>
            <h4><%= subject.name %></h4>
          </form>
        </div>
        <div class="panel-body">
          <table style="margin: 0px" class="table table-striped">
            <thead>
              <tr>
                <th class="col-sm-3 text-center">Block</th>
                <th class="col-sm-9 text-center">Teacher</th>
              </tr>
            </thead>
            <tbody>
              <% subject.lessons.each do |lesson| %>
              <tr>
                <td class="col-sm-3 text-center"> <%= lesson.block %> </td>
                <td class="col-sm-9 text-center"> <%= Teacher.get(lesson.teacher_id).name %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
</article>