<% Category.each do |category| %>
  <div class="table">
    <div class="caption"><%=category.name%></div>
    <div class="thead">
      <div class="tr">
        <span class="td">#</span>
        <span class="td">Name</span>
        <span class="td">Block</span>
        <span class="td">Space</span>
        <span class="td">Teacher</span>
      </div>
    </div>
    <div class="tbody">
    <% category.subjects.lessons.each do |lesson| %>
        <span class="td"><%= lesson.id %></span>
        <span class="td"><%= lesson.subject.name %></span>
        <span class="td"><%= lesson.block %></span>
        <span class="td"><%= lesson.space %></span>
        <span class="td"><%= lesson.teacher.name %></span>
    <% end %>
    </div>
  </div>
<% end %>