<h2>Classes</h2>

<!--Option One for Selecting-->

<!--<% categories.each do |category| %>-->
<!--<div class="panel panel-info">-->
<!--  <div class="panel-heading clearfix">-->
<!--    <h4><%= category.name %></h4>-->
<!--  </div>-->
  
<!--  <div class="panel-body">-->
<!--    <table style="margin: 0px" class="table table-striped">-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <td class="col-sm-3">Name</td>-->
<!--          <td class="col-sm-2">Block</td>-->
<!--          <td class="col-sm-2">Space</td>-->
<!--          <td class="col-sm-4">Teacher</td>-->
<!--          <td class="col-sm-1"></td>-->
<!--        </tr>-->
<!--      </thead>-->
<!--    </table>-->
<!--    <% category.subjects(order: :name.asc).each do |subject| %>-->
<!--      <% subject.lessons.each do |lesson| %>-->
<!--      <form>-->
<!--        <table style="margin: 0px" class="table table-striped">-->
<!--          <tbody>-->
<!--            <tr>-->
<!--              <td class="col-sm-3"><%= Subject.get(lesson.subject_id).name %></td>-->
<!--              <td class="col-sm-2"><%= lesson.block %></td>-->
<!--              <td class="col-sm-2"><%= lesson.space %></td>-->
<!--              <td class="col-sm-4"><%= Teacher.get(lesson.teacher_id).name %></td>-->
<!--              <td class="col-sm-1"><button class="btn btn-success btn-xs pull-right">Add Class</button></td>-->
<!--            </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </form>-->
<!--      <% end %>-->
<!--    <% end %>-->
<!--  </div>-->
<!--</div>-->
<!--<% end %>-->

  <!--Second Option for Viewing-->

<ul class="nav nav-tabs">
  <li class="active"><a href="#Home" data-toggle="tab">Home</a></li>
  <% categories.each do |category| %>
  <li><a href='<%= "#".concat(category.name) %>' data-toggle="tab"><%=category.name %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div id="Home" class="tab-pane fade in active">
    <h3>Instructions</h3>
    <p>Click a category to view the classes that fall under it</p>
  </div>
  <% categories.each do |category| %>
    <div id='<%= category.name %>' class="tab-pane fade" >
      <table style="margin: 0px" class="table table-striped">
        <thead>
          <tr>
            <td class="col-sm-8"><strong>Name</strong></td>
            <td class="col-sm-4"><strong>Button</strong></td>
          </tr>
        </thead>
      </table>
      <% category.subjects(order: :name.asc).each do |subject| %>
      <form>
      <table style="margin: 0px" class="table table-striped">
        <tbody>
            <tr>
              <td class="col-sm-8"><%= subject.name %></td>
              <td class="col-sm-4"><button class="btn btn-success btn-xs">Add Class</button></td>
            </tr>
        </tbody>
      </table>
      </form>
      <% end %>
    </div>
  <% end %>
</div>
  
<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
    // $('.nav nav-tabs li').on('click'), function() {
      
    //   var $panel = $(this).closest('.nav nav-tabs');
      
    //   4panel.find('li.active').removeClass('active');
    //   $(this).addClass('active')
      
    //   var panelToShow = $(this).attr('rel');
      
    //   $panel.find('.tab-pane fade').slideUp(300, showNextPanel);
      
    //   function showNextPanel() {
    //     $(this).removeClass('active');
        
    //     $('#'+panelToShow).slideDown(300, function(){
    //       $(this).addClass('active')
    //     })
    //   }
    // }
});
</script>