<h2>Classes</h2>
  <!--Second Option for Viewing-->

<ul class="nav nav-tabs">
  <li class="active"><a href="#Home" data-toggle="tab">Home</a></li>
  <% categories.each do |category| %>
  <li><a href='<%= "#".concat(category.id.to_s) %>' data-toggle="tab"><%=category.name%></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div id="Home" class="tab-pane fade in active">
    <h3>Instructions</h3>
    <p>Click a category to view the classes that fall under it</p>
  </div>
  <% categories.each do |category| %>
    <div id='<%= category.id %>' class="tab-pane fade" >
      <table style="margin: 0px" class="table table-striped">
        <thead>
          <tr>
            <td class="col-sm-4"><strong>Name</strong></td>
            <td class="col-sm-2"><strong>Block</strong></td>
            <td class="col-sm-2"><strong>Space</strong></td>
            <td class="col-sm-4"><strong>Teacher</strong></td>
          </tr>
        </thead>
      </table>
      <table style="margin: 0px" class="table table-striped">
        <tbody>
          <% category.subjects(order: :name.asc).each do |subject| %>
            <% subject.lessons.each do |lesson| %>
            <tr>
              <td class="col-sm-4"><%= Subject.get(lesson.subject_id).name %></td>
              <td class="col-sm-2"><%= lesson.block %></td>
              <td class="col-sm-2"><%= lesson.space %></td>
              <td class="col-sm-4"><%= Teacher.get(lesson.teacher_id).name %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

