<h2>Classes</h2>

<ul class="nav nav-tabs">
  <li class="active"><a href="#Home" data-toggle="tab">Home</a></li>
  <% categories.each do |category| %>
  <li><a href='<%= "#".concat(category.name) %>' data-toggle="tab"><%=category.name %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div id="Home" class="tab-pane fade in active">
    <h3>Instructions</h3>
    <p>Click a category to view the classes that fall under it</p>
  </div>
  <% categories.each do |category| %>
    <div id='<%= category.name %>' class="tab-pane fade" >
      <div class="col-sm-8" style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px; border-style: solid; border-top: 0px; border-right: 0px; border-left: 0px; border-color: grey;"><strong>Name</strong></div>
      <div class="col-sm-4" style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px; border-style: solid; border-top: 0px; border-right: 0px; border-left: 0px; border-color: grey;"><strong>Button</strong></div>
      
      <% category.subjects(order: :name.asc).each do |subject| %>
      <form class="form-horizontal" role="form" method="POST" action="/class-select">
        <div style="padding-left: 15px; padding-right: 15px; margin-bottom: 5px" class="form-group">
          <input style="border:0" type="text" name="subject_id"readOnly hidden value="<%= subject.id %>"> <!--- Some unneeded properties --->
          <div class="col-sm-8">
            <input style="border: 0"type="text" name="subject_name"readOnly value="<%= subject.name%>"><!---You don't really need this for a params --->
          </div>
          <div style="padding-top: 5px;"class="col-sm-4">
            <button class="btn btn-success btn-xs">Add Class</button>
          </div>
        </div>
      </form>
      <% end %>
    </div>
  <% end %>
</div>
  