<article>
  <script type="text/javascript">
      <!--
      function updateTime() {
          // var monthNames = ["January", "February", "March", "April", "May", "June",
          //   "July", "August", "September", "October", "November", "December"];
          var currentTime = new Date();
          // var year = currentTime.getFullYear();
          // var month = currentTime.getMonth();
          // var date = currentTime.getDate();
          var hours = currentTime.getHours();
          var minutes = currentTime.getMinutes();
          var seconds = currentTime.getSeconds();
          if (minutes < 10){
              minutes = "0" + minutes;
          }
          if (seconds < 10){
              seconds = "0" + seconds;
          }
          var v = hours + ":" + minutes + ":" + seconds + " ";
          if(hours > 11){
              v+="PM";
          } else {
              v+="AM"
          }
          // v+=" ";
          // v+=monthNames[d.getMonth()];
          // v+=" ";
          // v+=date;
          // v+=", "
          // v+=year;
          setTimeout("updateTime()",1000);
          document.getElementById('time').innerHTML=v;
      }
      updateTime();
      //-->
  </script>
  
  <h4>Current Time: <span id="time" /></h4>
  
  
  <ul class="nav nav-tabs">
    <li class="active"><a href="#Home" data-toggle="tab">Home</a></li>
    <% user.subjects.each do |subject| %>
    <li><a href='<%= "#".concat(subject.id.to_s) %>' data-toggle="tab"><%=subject.name %></a></li>
    <% end %>
  </ul>
  
  <div class="tab-content">
    <div id="Home" class="tab-pane fade in active">
      <form class="form-horizontal" method="POST" action="/teacher-select">
        <div class="panel panel-info">
          <div class="panel-heading clearfix">
            <button class="btn btn-success btn-md pull-right" type="submit">Submit</button>
            <h4 class="pull-left">Your Schedule</h4>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th style="display: none" class="hidden-sm">
                    ID
                  </th>
                  <th style="border-bottom: 1px solid #000; font-size: 16px;"class="col-sm-1 text-center">
                    Block
                  </th>
                  <th style="border-bottom: 1px solid #000; font-size: 16px;"class="col-sm-5 text-center">
                    Class
                  </th>
                  <th style="border-bottom: 1px solid #000; font-size: 16px;"class="col-sm-3 text-center">
                    Teacher
                  </th>
                  <th style="border-bottom: 1px solid #000; font-size: 16px;"class="col-sm-3 text-center">
                    Button
                  </th>
                </tr>
              </thead>
              <tbody id=input_tbody>
                <tr>
                  <td style="display: none" class="hidden-sm">
                    <input hidden name='lesson_id[]' value=''>
                  </td>
                  <td class="col-sm-1">
                     <input  class="text-center form-control" type='text' readOnly value='1'>
                  </td>
                  <td class="col-sm-5">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-3">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-4">
                    <button id="remove-class" class="btn btn-danger btn-md center-block" type='button'>Remove Class</button>
                  </td>
                </tr>
                <tr>
                  <td style="display: none" class="hidden-sm">
                    <input hidden name='lesson_id[]' value=''>
                  </td>
                  <td class="col-sm-1">
                     <input  class="text-center form-control" type='text' readOnly value='2'>
                  </td>
                  <td class="col-sm-5">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-3">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-4">
                    <button id="remove-class" class="btn btn-danger btn-md center-block" type='button'>Remove Class</button>
                  </td>
                </tr>
                <tr>
                  <td style="display: none" class="hidden-sm">
                    <input hidden name='lesson_id[]' value=''>
                  </td>
                  <td class="col-sm-1">
                     <input  class="text-center form-control" type='text' readOnly value='3'>
                  </td>
                  <td class="col-sm-5">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-3">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-4">
                    <button id="remove-class" class="btn btn-danger btn-md center-block" type='button'>Remove Class</button>
                  </td>
                </tr>
                <tr>
                  <td style="display: none" class="hidden-sm">
                    <input hidden name='lesson_id[]' value=''>
                  </td>
                  <td class="col-sm-1">
                     <input  class="text-center form-control" type='text' readOnly value='4'>
                  </td>
                  <td class="col-sm-5">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-3">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-4">
                    <button id="remove-class" class="btn btn-danger btn-md center-block" type='button'>Remove Class</button>
                  </td>
                </tr>
                <tr>
                  <td style="display: none" class="hidden-sm">
                    <input hidden name='lesson_id[]' value=''>
                  </td>
                  <td class="col-sm-1">
                     <input  class="text-center form-control" type='text' readOnly value='5'>
                  </td>
                  <td class="col-sm-5">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-3">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-4">
                    <button id="remove-class" class="btn btn-danger btn-md center-block" type='button'>Remove Class</button>
                  </td>
                </tr>
                <tr>
                  <td style="display: none" class="hidden-sm">
                    <input hidden name='lesson_id[]' value=''>
                  </td>
                  <td class="col-sm-1">
                     <input  class="text-center form-control" type='text' readOnly value='6'>
                  </td>
                  <td class="col-sm-5">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-3">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-4">
                    <button id="remove-class" class="btn btn-danger btn-md center-block" type='button'>Remove Class</button>
                  </td>
                </tr>
                <tr>
                  <td style="display: none" class="hidden-sm">
                    <input hidden name='lesson_id[]' value=''>
                  </td>
                  <td class="col-sm-1">
                     <input  class="text-center form-control" type='text' readOnly value='7'>
                  </td>
                  <td class="col-sm-5">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-3">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-4">
                    <button id="remove-class" class="btn btn-danger btn-md center-block" type='button'>Remove Class</button>
                  </td>
                </tr>
                <tr>
                  <td style="display: none" class="hidden-sm">
                    <input hidden name='lesson_id[]' value=''>
                  </td>
                  <td class="col-sm-1">
                     <input  class="text-center form-control" type='text' readOnly value='8'>
                  </td>
                  <td class="col-sm-5">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-3">
                    <input  class="text-center form-control" type='text' readOnly value=''>
                  </td>
                  <td class="col-sm-4">
                    <button id="remove-class" class="btn btn-danger btn-md center-block" type='button'>Remove Class</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
    <% user.subjects(order: :name.asc).each do |subject| %>
    <div id='<%= subject.id %>' class="tab-pane fade">
      <table style="margin: 0px" class="table table-striped">
        <thead>
          <tr>
            <th style="display: none" class="hidden-sm">ID</th>
            <th class="col-sm-5 text-center">Teacher</th>
            <th class="col-sm-2 text-center">Block</th>
            <th class="col-sm-2 text-center">Space</th>
            <th class="col-sm-3 text-center">Button</th>
          </tr>
        </thead>
        <tbody>
          <% subject.lessons(order: :block.asc).each do|lesson| %>
          <tr>
            <td style="display: none" id="lesson_id" class="hidden-sm"><%= lesson.id %></td>
            <td class="col-sm-5 text-center" id="teacher_name"><%= Teacher.get(lesson.teacher_id).name %></td>
            <td class="col-sm-2 text-center"><%= lesson.block %></td>
            <td class="col-sm-2 text-center" id="lesson_space"><%= lesson.space %></td>
            <td class="col-sm-3 text-center"><button id="add-class" class="btn btn-success btn-xs">Add Class</button></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
  
  <script type="text/javascript">
    $(document).ready(function(){
      $('.tab-content .table .col-sm-3 #add-class').on('click', function(){
        var $row = $(this).closest("tr"),
            $td_id = $row.find("td:nth-child(1)").html(),
            $td_teacher = $row.find("td:nth-child(2)").html(),
            $td_block = $row.find("td:nth-child(3)").html(),
            $td_subject = $row.closest("div").attr("id");
        $('.tab-content #input_tbody tr').each(function() {
          var $lesson_id = $(this).find('td:nth-child(1) input'),
              $lesson_block = $(this).find('td:nth-child(2) input'),
              $lesson_subject = $(this).find('td:nth-child(3) input'),
              $lesson_teacher = $(this).find('td:nth-child(4) input');
          if ($lesson_block.val() == $td_block) {
            if(!$lesson_teacher.val()) {
              
              $lesson_id.val($td_id);
              $lesson_subject.val($td_subject);
              $lesson_teacher.val($td_teacher);
              
              $($row).fadeOut(800);

              $.ajax({
                type: 'POST',
                url: '/add-student',
                data: {lesson_id: $td_id, lesson_name: $td_subject},
                success: function() {
                },
                error: function() {
                }
              });
              return false;
            } else {
              $('.container').prepend('<div class="alert alert-danger text-center" id="alert" role="alert">You already have a class selected for that block!</div>');
              $('#alert').fadeOut(5000);
            }
          }
        });
      });
      
      $('.tab-content .table .col-sm-4 #remove-class').on('click', function(){
        var $row = $(this).closest("tr"),
            $td_id = $row.find("td:nth-child(1) input"),
            $td_teacher = $row.find("td:nth-child(3) input"),
            $td_subject = $row.find("td:nth-child(4) input");
        //May need optimizing later
        $('.tab-content .table #lesson_id').each(function(){
          if ($td_id.val() == $(this).text()) {
            $(this).closest("tr").show();
            $td_id.val('');
            $td_teacher.val('');
            $td_subject.val('');
            
            return false;
          }
        });
      });
      
      var auto_refresh = setInterval(
      function ()
      {
      $('#lesson_space').load('teacher-select #lesson_space', function() {
      });
      },30000); // refresh every 10000 milliseconds
      
    });
  </script>
</article>