<script type="text/javascript">
    <!--
    function updateTime() {
        // var monthNames = ["January", "February", "March", "April", "May", "June",
        //   "July", "August", "September", "October", "November", "December"];
        var currentTime = new Date();
        // var year = currentTime.getFullYear();
        // var month = currentTime.getMonth();
        // var date = currentTime.getDate();
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        var seconds = currentTime.getSeconds();
        if (minutes < 10){
            minutes = "0" + minutes;
        }
        if (seconds < 10){
            seconds = "0" + seconds;
        }
        var v = hours + ":" + minutes + ":" + seconds + " ";
        if(hours > 11){
            v+="PM";
        } else {
            v+="AM"
        }
        // v+=" ";
        // v+=monthNames[d.getMonth()];
        // v+=" ";
        // v+=date;
        // v+=", "
        // v+=year;
        setTimeout("updateTime()",1000);
        document.getElementById('time').innerHTML=v;
    }
    updateTime();
    //-->
</script>

<h4>Current Time: <span id="time" /></h4>


<ul class="nav nav-tabs">
  <li class="active"><a href="#Home" data-toggle="tab">Home</a></li>
  <% user.subjects.each do |subject| %>
  <li><a href='<%= "#".concat(subject.name) %>' data-toggle="tab"><%=subject.name %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div id="Home" class="tab-pane fade in active">
    <h3>Instructions</h3>
    <p>Click a class to view the classes that fall under it</p>
  </div>
  <% user.subjects(order: :name.asc).each do |subject| %>
    <div id='<%= subject.name %>' class="tab-pane fade"> <!--- Fix this Styling Issue Too repetitive--->
      <div class="col-sm-5" style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px; border-style: solid; border-top: 0px; border-right: 0px; border-left: 0px; border-color: grey;"><strong>Name</strong></div>
      <div class="col-sm-2" style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px; border-style: solid; border-top: 0px; border-right: 0px; border-left: 0px; border-color: grey;"><strong>Block</strong></div>
      <div class="col-sm-2" style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px; border-style: solid; border-top: 0px; border-right: 0px; border-left: 0px; border-color: grey;"><strong>Space</strong></div>
      <div class="col-sm-3" style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px; border-style: solid; border-top: 0px; border-right: 0px; border-left: 0px; border-color: grey;"><strong>Button</strong></div>
      <% subject.lessons(order: :block.asc).each do |lesson| %>
      <form class="form-horizontal" role="form" method="POST" action="/teacher-select">
        <div style="padding-left: 15px; padding-right:15px; margin-bottom; px" class="form-group"></div>
        <input type="text" name="lesson_id" readOnly hidden value="<%= lesson.id %>">
        <div class="col-sm-5">
          <%= Teacher.get(lesson.teacher_id).name %>
        </div>
        <div class="col-sm-2">
          <%= lesson.block %>
        </div>
        <div class="col-sm-2">
          <%= lesson.space %>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-success btn-xs">Select Teacher</button>
        </div>
      </form>
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $.ajax({
      type: 'GET',
      url: '/class-select',
      success: function() {
        console.log('success', "Hi");
        alert("Hi!")
      }
    });
  });
</script>